#login {
    text-decoration: none;
    margin-top: 20px;
    font-size: 0.9em;
    color: #8f8f8f;
    text-decoration: beige;
    text-align: center;
}

#login:hover {
    color: lightblue;
}

.box{
	height: 620px;

}

.form {
    padding: 50px 40px;
}

.inputBox {
    margin-top: 30px; 
}

.inputBox input {
    padding: 18px 10px; 
}

input[type="submit"]{
    margin-top: 30px;
    align-self: center;
}