@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 80px; 
    height: auto; 
}

.box{
	position: relative;
	width: 380px;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}

.box::before{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}

.box::after{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

.form{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

h2{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.inputBox{
	position: relative;
	width: 300px;
	margin-top: 35px;
}

.inputBox input{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.inputBox span{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.inputBox input:valid ~ span, .inputBox input:focus ~ span {
	color: #45f3ff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}

.inputBox i{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.inputBox input:valid ~ i, .inputBox input:focus ~ i{
	height: 44px;
}

.links{
	display: flex;
	justify-content: space-between;
}

.links a{
	margin: 30px 0;
	font-size: 0.8em;
	color: #8f8f8f;
	text-decoration: beige;
}


.links a:hover{
	color: #45f3ff;
}

input[type="submit"]{
	border: none;
	outline: none;
	padding: 8px 10px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 8px;
	font-weight: 600;
	width: 100px;
	margin-top: 20px;
    margin-bottom: 10px;
    transition: ease .3s;
}

input[type="submit"]:active{
	opacity: 0.8;
}

input[type="submit"]:hover{
    box-shadow: 0px 0px 10px rgba(126, 236, 230, 0.315);
    transform: scale(1.05);
}


#cadastrar{
    text-decoration: none;
    margin: 30px 0;
	font-size: 0.9em;
	color: #8f8f8f;
	text-decoration: beige;
    text-align: center;
	cursor: default;
}

#cadastrar:hover{
    color: lightblue;
}

#cadastrar span:hover {
	color: #45f3ff;
	cursor: pointer;
}



.darkmodeBotao {
    width: 80px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.541);
	border: 5px solid transparent;
	border-radius: 60px;
	position: absolute;
	z-index: 999;
	top: 30px;
	right: 30px;
}


.circle {
    width:25px;
    height:25px;
    background-color: gray;
    border-radius: 50%;
    transition: transform 0.3s ease;
	cursor: pointer;
}

.circle.moved {
    transform: translateX(45px); 
    transition: transform 0.3s ease; 
	background-color: #45f3ff;
}


body.dark-mode {
	background-color: beige;
	color: #e0e0e0;
}

.darkmodeBotao span {
    display: inline-block;
	white-space: nowrap;
	margin-top: 15px;
	color: gray;
}


footer {
    background: #1c1c1c;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-content p {
    color: #8f8f8f;
    margin-bottom: 10px;
}

.footer-content p:last-child {
    margin-bottom: 0;
}

.footer-content a {
	color: #8f8f8f;
	text-decoration: none;

}

.footer-content a:hover {
	color: #45f3ff;
	cursor: pointer;
}